.form {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  gap: 15px;
  align-items: flex-start;
}
.blueprintElement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  width: 95%;
}

.textInput {
  width: calc((100% - 0.5em) / 2);
  position: relative;
}

.valueButton {
  background-color: black;
  width: calc((100% - 0.5em) / 2);
  height: calc(1.4375em + 35px);
}

.valueButtonDiv {
  box-sizing: border-box;
  height: 80px;
  padding-top: 30px;
}

.valueButtonDiv_Error {
  padding-top: 20px;
}

.choicesBlueprint {
  overflow: scroll;
  height: 360px;
  min-height: 360px;
}

.staticPageTitle {
  font-size: 0.95rem;
  color: var(--secondary);
}

.staticPageBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  font-family: "Roboto", sans-serif;
}

.choicesBlueprint::-webkit-scrollbar-track {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.16),
    rgba(255, 255, 255, 0.16)
  );
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 500px) {
  .choicesBlueprint {
    height: calc(100vh - 285px);
  }
}
