@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#root {
  margin: 0 auto;
  width: 75%;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1400px) {
  #root {
    width: 90%;
  }
}

@media screen and (max-width: 1150px) {
  #root {
    width: 95%;
  }
}
